window {
  background: rgba(30, 33, 39, 0.96);
  border: 1px solid rgba(59, 66, 82, 0.95);
  border-radius: 0;
}

progressbar,
trough {
  min-width: 160px;
  min-height: 10px;
  border-radius: 0;
}

trough {
  background: rgba(36, 41, 51, 0.95);
}

progress {
  background: #81a1c1;
  border-radius: 0;
}

image {
  color: #d8dee9;
}

label {
  color: #d8dee9;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 14px;
  font-weight: 600;
}
