[Desktop Entry]
Name=Yazi
Icon=yazi
Comment=Blazing fast terminal file manager written in Rust, based on async I/O
Terminal=false
TryExec=/usr/bin/ghostty
Exec=/usr/bin/ghostty -e yazi %u
Type=Application
MimeType=inode/directory
Categories=Utility;Core;System;FileTools;FileManager;
Keywords=File;Manager;Explorer;Browser;Launcher;expl;files
